.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3;
    padding: 10px; */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    font-size: 5px;
    text-align: center;
}

table, td {
    border: none;
    border-spacing: 0px;
}

td {
    padding: 0px 0px 0px 0px;
    height: 1px;
    width: 1px;
    min-width: 1px;
    max-width: 1px;
    min-height: 1px;
    max-height: 1px;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    background-color: gray;
    z-index: -100;
}
